jesse @ git+https://github.com/jesse-ai/jesse.git@master
jesse @ git+https://github.com/jesse-ai/jesse.git@master
git+https://github.com/jesse-ai/jesse-bingx.git@main       # официальный BingX-коннектор
python-dotenv==1.0.0
